name: Publish docs

on:
  push:
    branches:
      - main

concurrency:
  group: docs
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Cache multiple Pips
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-3.13-${{ hashFiles('**/poetry.lock') }}
      - run: pip install poetry
      - run: poetry install
      - run: poetry run mkdocs gh-deploy --force
